apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-feed
  labels:
    app: api-feed
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-feed
  template:
    metadata:
      labels:
        app: api-feed
    spec:
      containers:
        - name: backend-api-feed
          image: tcart79/udagram-api-feed:latest
          imagePullPolicy: Always
          resources:
            requests:
              memory: "128Mi"
              cpu: "300m"
            limits:
              memory: "1024Mi"
              cpu: "600m"
          ports:
          - containerPort: 8080
          env:
          - name: POSTGRES_USERNAME
            valueFrom:
              configMapKeyRef:
                name: env-config
                key: POSTGRESS_USERNAME
          - name: POSTGRES_PASSWORD
            valueFrom:
              configMapKeyRef:
                name: env-config
                key: POSTGRES_PASSWORD
          - name: POSTGRES_DB
            valueFrom:
              configMapKeyRef:
                name: env-config
                key: POSTGRES_DB
          - name: POSTGRES_HOST
            valueFrom:
                configMapKeyRef:
                  name: env-config
                  key: POSTGRES_HOST
          - name: AWS_REGION
            valueFrom:
                configMapKeyRef:
                  name: env-config
                  key: AWS_REGION
          - name: AWS_PROFILE
            valueFrom:
                configMapKeyRef:
                  name: env-config
                  key: AWS_PROFILE
          - name: AWS_BUCKET
            valueFrom:
                configMapKeyRef:
                  name: env-config
                  key: AWS_BUCKET
          - name: URL
            valueFrom:
              configMapKeyRef:
                name: env-config
                key: URL
          - name: JWT_SECRET
            valueFrom:
              configMapKeyRef:
                name: env-config
                key: JWT_SECRET

          